.header{
    height: 150px;
}

.list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 80px;

}

.li a {
padding:20px 7px
}

.btn {
  margin-left: -120px;

}

.listContainer{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    height: 100%;

}



.search {

    margin-left: -80px;
    
}